<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stratagile.pnrouter">
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!-- Android Q后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.huawei.perission.sec.MDM" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <permission
        android:name="${applicationId}.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem"/>

    <!--接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-permission android:name="${applicationId}.permission.PROCESS_PUSH_MSG" />

    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name=".application.AppConfig"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.Base"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="xl" android:host="pnrouter" android:path="/openpnrouter" android:port="8888"/>
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <!--<service
            android:name="chat.tox.antox.tox.ToxService"
            android:exported="false"
            android:label="ToxService" />-->

        <activity
            android:name=".ui.activity.login.LoginActivityActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        <!--<intent-filter>
            <action android:name="android.intent.action.SEND"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="*/*"/>
        </intent-filter>-->

        </activity>
        <activity
            android:name=".ui.activity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.main.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.test.TestJPushActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.test.TestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.test.TestJavaActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.admin.AdminLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdminUpCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdminUpPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.AdminLoginSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.tox.TestToxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.chat.GroupChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.user.MyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.CircleMemberDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.SendAddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.UserAccoutCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.QRFriendCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.scan.ScanQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.EditNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.SelectRouterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.ModifyAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.FriendAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowChooseImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowFileVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.conversation.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.user.AddFreindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.NewFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.router.RouterAddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.RouterCreateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.GuestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.file.FileChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.selectfriend.selectFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.selectfriend.selectFriendSendFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.RouterManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.RouterQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.ShareTempQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.UserQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.RouterInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.file.PdfViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.file.FileSendShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.file.FileManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.file.FileDetailInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.file.FileShareSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.file.UploadFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.file.FileTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.DiskManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.DiskConfigureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.DiskInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.DiskReconfigureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.CreateLocalAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.stratagile.pnrouter.ui.activity.main.EncryptMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.stratagile.pnrouter.ui.activity.main.EncryptMsgTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.user.ImportAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screencapture.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.router.RouterAliasSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.VerifyingFingerprintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.group.GroupChatsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.group.CreateGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.selectfriend.SelectFriendCreateGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.group.RemoveGroupMemberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.user.PrivacyActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.email.EmailLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.ContactsEncryptionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.SMSEncryptionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.SMSEncryptionListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.SMSEncryptionNodelListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.SMSEncryptionNodelSecondActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.encryption.WexinChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data android:mimeType="*/*"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
                <category android:name="android.intent.category.ALTERNATIVE_SELECTED"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.encryption.ShowZipInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.email.EmailMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailConfigEncryptedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.EmailEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.email.SelectEmailFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.add.addFriendOrGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.PicEncryptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.PicEncryptionlListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.WeiXinEncryptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.WeXinEncryptionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.SelectNodeMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.PicEncryptionNodelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.encryption.WeXinEncryptionNodelListActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.file.MiFileViewActivity"
            android:screenOrientation="portrait" />
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />


        <provider
            android:name=".utils.MyShareFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#chatdemoui" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name=".screencapture.FloatWindowsService" android:exported="false"/>

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- &lt;!&ndash; 百度地图所需的service &ndash;&gt;
         <service
             android:name="com.baidu.location.f"
             android:enabled="true"
             android:process=":remote" />-->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xYrGampuBzGb1xddWFRdzHYA8Y7IEjLL" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".data.service.MessageRetrievalService" />
        <service android:name=".data.service.FileTransformService" />
        <service
            android:name=".data.service.MyService"
            android:process=":newinst" />
        <service
            android:name=".data.service.BackGroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".data.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="org.thoughtcrime.securesms.RESTART" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.utils.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--<meta-data-->
            <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
            <!--android:resource="@xml/file_path" />-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <service android:name="com.stratagile.tox.toxcore.KotlinToxService" />
        <service android:name=".data.service.FileDownloadUploadService" />
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.stratagile.pnrouter.reciver.WinqMessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reciver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--集成华为推送-->
        <!-- value的值“xxx”用实际申请的应用ID替换，来源于开发者联盟网站应用的服务详情。-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100667397"></meta-data>
        <!--“xxx”用实际的类名替换, ${PACKAGE_NAME} 要替换上您应用的包名-->
        <receiver android:name=".reciver.HuaweiPushReceiver"
            android:permission="com.stratagile.pnrouter.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须, 用于接收透传消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 必须, 用于接收通知栏消息点击事件 此事件不需要开发者处理，只需注册就可以-->
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <activity android:name=".ui.activity.group.GroupInfoActivity" />
        <activity android:name=".ui.activity.group.RemoveGroupDetailMemberActivity" />
        <activity android:name=".ui.activity.selectfriend.SelectFriendGroupDetailActivity" />
        <activity android:name=".ui.activity.group.GroupMembersActivity" />
        <activity android:name=".ui.activity.router.SelectCircleActivity" />
        <!--<activity android:name=".ui.activity.user.UserInfoActaivity" />-->
        <activity android:name=".ui.activity.main.WebViewActivity" />
        <activity android:name=".ui.activity.file.SelectFileActivity" />



        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>

        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".reciver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>



        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <!--since 3.3.0 接收JPush相关事件-->
        <receiver android:name=".reciver.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <!--since 3.3.0 Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service android:name=".data.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="590fe4b2a75e8f169cab50fd" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>

</manifest>